<section class="my-3 mb-5">
  <h1 class="text-3xl font-bold">Uncommon Pipes</h1>
  <h3 class="font-thin">Included pipe in Angular</h3>
</section>
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <app-card title="i18nSelectPipe">
    <p>Saludos <strong>{{client().name}}</strong> , es un placer {{client().gender | i18nSelect:invitationMap}} a nuestro evento.</p>
    <div class="card-actions justify-end">
      <button (click)="changeClient()" class="btn btn-primary">Change Client</button>
    </div>
  </app-card>
</section>
