<section class="my-3">
  <h1 class="text-3xl font-bold">Uncommon Pipes</h1>
  <h3 class="font-thin">Included pipe in Angular</h3>
</section>
<section class=" my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <app-card title="i18nSelectPipe">
    <div class="flex flex-col h-full">
      <p>Saludos <strong>{{client().name}}</strong>, es un placer {{client().gender | i18nSelect:invitationMap}} a
        nuestro evento.</p>
      <div class="card-actions justify-center mt-4">
        <button (click)="changeClient()" class="btn btn-primary">Change Client</button>
      </div>
    </div>
  </app-card>
  <app-card title="i18nPluralPipe">
    <div class="flex flex-col h-full">
      <p>Actualmente <span class="badge badge-secondary">{{clients().length | i18nPlural:clientsMap() }}</span></p>
      <div class="card-actions justify-center mt-4">
        <button [disabled]="clients().length === 0" (click)="removeClient()" class="btn btn-primary">
          Remove Client
        </button>
      </div>
    </div>
  </app-card>
  <app-card title="SlicePipe">
    <div class="flex flex-col h-full">
      <p><strong>Original</strong></p>
      <p class="text-warning">{{clients().join(', ')}}</p>
      <div class="mt-4">
        <p><strong>slice:0:2</strong></p>
        <p class="text-warning">{{clients()| slice:0:2}}</p>
      </div>
      <div class="my-1">
        <p><strong>slice:1:2</strong></p>
        <p class="text-warning">{{clients()| slice:1:2}}</p>
      </div>
      <div class="my-1">
        <p><strong>slice:1:3</strong></p>
        <p class="text-warning">{{clients()| slice:1:3}}</p>
      </div>
      <div class="my-1">
        <p><strong>slice:3:4</strong></p>
        <p class="text-warning">{{clients()| slice:3:4}}</p>
      </div>
      <div class="my-1">
        <p><strong>slice:0:-3</strong></p>
        <p class="text-warning">{{clients()| slice:0:-3}}</p>
      </div>
      <div class="card-actions justify-center mt-4">
        <button [disabled]="clients().length === 0" (click)="removeClient()" class="btn btn-primary">
          Remove Client
        </button>
      </div>
    </div>
  </app-card>
  <app-card title="Json Pipe">
    <div class="flex flex-col h-full">
      <pre class="text-warning">{{clients() | json}}</pre>
      <pre class="text-warning">{{client() | json}}</pre>
      <p class="text-warning">{{clients().join(', ') | json}}</p>
    </div>
  </app-card>
  <app-card title="keyvalue Pipe">
    <div class="flex flex-col h-full">
      <!-- <pre class="text-warning">{{profile | keyvalue | json}}</pre> -->
      <ul>
        @for (item of profile | keyvalue; track $index) {
          <li>
            <strong class="text-warning">{{item.key | titlecase}}: </strong>
            <span>{{item.value}}</span>
          </li>

        }
      </ul>
    </div>
  </app-card>
  <app-card title="Async Pipe">
    <div class="flex flex-col h-full">
      <p class="text-warning">{{promiseValue | async }}</p>
      @if (promiseValue | async; as value) {
        <p class="text-info">{{ value }}</p>
      } @else {
        <p class="text-info">Espere por favor ...</p>
      }
    </div>
  </app-card>
  <app-card title="Async Pipe with Observables">
    <div class="flex flex-col h-full">
      <p class="text-warning">{{myObservableTimer | async }}</p>
      @if (myObservableTimer | async; as value) {
        <p class="text-info">Valor: {{ value }}</p>
      }

      @else {
        <p class="text-info">Esperando primer valor ...</p>
      }
    </div>
  </app-card>
</section>
